################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp.PoC/obj
/ConsoleApp.PoC/bin/Debug/net8.0
